body {
    margin: 30px 50px 0px 50px;
    font-family: 'Raleway', sans-serif;
}

nav {
   display: flex;
   justify-content: space-between;
}

.logo {
    width: 61.09px;
    height: 19px;
}

a {
    text-decoration: none;
    color: black;
}

.header-links:hover {
    color:#0065FC;
    border-top: 2px solid #0065FC;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 50px;
}

h1 {
    width: 600px;
    height: 26px;
    font-weight: 700;
    font-size: 22px;
}

h2 {
    width: 296px;
    height: 19px;
    font-weight: 400;
    font-size: 16px;
}

form {
    width: 75%;
    display: flex;
    border-collapse: collapse;
    padding-top: 20px;
}

input {
    border: 1px solid #F2F2F2;
}

.icon {
    background-color:#F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    padding: 15px 16px;
}

.search {
    color: white;
    background-color: #0065FC;
    padding: 15px 16px;
    border: none;
    border-radius: 0px 15px 15px 0px;
    font-weight: 700;
}

::placeholder {
    color: black;
    font-weight: 700;
    padding-left: 10px;
}

.filtres {
    display: flex;
    margin-top: 20px;
    align-items: baseline;
}

button {
    border: 2px solid #c1c0c0;
    border-radius: 20px;
    background-color: white;
    padding: 15px 16px;
    font-weight: 700;
}

i {
    margin-right: 10px;
    color: #0065FC;
}

.info-icon,
.location-icon {
    margin: 5px 10px;
}

.text-info {
    width: 500px;
}

.button-info {
    border-radius: 50%;
    padding: 5px;
    margin-right: 10px;
}

.info {
    display: flex;
    align-items: center;
}

.main-part {
    display: flex;
    gap: 40px;
}

.hébergements {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    width: 60%;
    margin-top: 20px;
    border-radius: 15px;
    padding: 40px 42px 40px 42px;
}

.populaires {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    width: 40%;
    margin-top: 20px;
    border-radius: 15px;
    padding: 40px 42px 40px 42px;
}

.populaires-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.cards-h {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20px;
}

.cards-p {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 20px;
}

.card-h {
    background-color: white;
    border-radius: 15px;
    height: 199px;
    padding-top: 8px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
}

.card-p {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 15px;
    width: 343px;
    height: 144px;
    padding-top: 8px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
}

.card-h-image {
    width: 246px;
    height: 124px;
    border-radius: 15px 15px 0px 0px;
}

.card-p-image {
    width: 137px;
    height: 144px;
    border-radius: 15px 0px 0px 15px;
}

.card-h-text {
    font-size: 10px;
    text-align: left;
    padding-left: 16px;
}

.card-p-text {
    font-size: 10px;
    text-align: left;
    padding-left: 10px;
    padding-top: 15px;
}

.star {
    margin-right: 2px;
}

h4 {
    margin-top: 0px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.78px;
    margin-bottom: 0px;
}

p {
    font-size: 14px;
    line-height: 0px;
}

.p-stars {
    margin-top: 60px;
}

.p-stars-2 {
    margin-top: 77px;
}

section {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
}

.cards-a {
    display: grid;
    grid-gap: 70px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 20px;
}

.card-a {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 302px;
    height: 444.51px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-a-image {
    height: 389px;
    border-radius: 15px 15px 0px 0px;
}

.a-description {
    margin-top: 20px;
    margin-left: 20px;
}

footer {
    display: flex;
    width: 100%;
    background-color: #F2F2F2;
    justify-content: space-around;
    padding-bottom: 30px;
}

.footer-element {
    display: flex;
    flex-direction: column;
    width: 200px;
}

h5 {
    font-size: 18px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    gap: 10px;
    font-size: 16px;
}