body {
    margin: 30px 50px 0px 50px;
    font-family: 'Raleway', sans-serif;
}

nav {
   display: flex;
   justify-content: space-between;
}

img {
    width: 61.09px;
    height: 19px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color:#0065FC;
    border-top: 2px solid #0065FC;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 50px;
}

h1 {
    width: 600px;
    height: 26px;
    font-weight: 700;
    font-size: 22px;
}

h2 {
    width: 296px;
    height: 19px;
    font-weight: 400;
    font-size: 16px;
}